//colors
// background colors
$page-bcg: #292929;
$list-bcg:#131313;
$item-bcg:#232323;

//text colors
$filter-title-color:#A5A5A5;
$items-color: #FFFFFF;
$main-title-color:#FFFFFFDE;
$sub-title-color:#FFFFFF80;

$prod-details-color: #FFFFFF99;
$prod-price-color: #FFFFFFCC;

// text shadow
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//sizes
$mobile-size: 572px;

$filter-card-width: 228px;
$filter-card-height: 275px;
$filter-item-width: 168.45px;
$filter-item-height: 37.5px;

$brand-list-width: 984px;
$brand-list-height: 190px;

$prod-card-width: 210px;
$prod-card-height: 150px;
$prod-img-width: 70px;
$prod-img-height: 70px;

//fonts
$main-font-type:"SF Pro Display";
$prod-date-font-type: "SF Pro Rounded";
$brand-font-type: "Roboto";
